:root {
  --collection-1-background: rgba(249, 241, 240, 1);
  --collection-1-fondo: rgba(237, 219, 194, 1);
  --collection-1-primario: rgba(143, 164, 209, 1);
  --collection-1-primary: rgba(250, 220, 217, 1);
  --collection-1-rounded: 20px;
  --collection-1-secondary: rgba(248, 175, 166, 1);
  --collection-1-secundario: rgba(116, 52, 43, 1);
  --collection-1-text: rgba(0, 0, 0, 1);
  --collection-1-texto: rgba(57, 18, 18, 1);
}
